# **Tugas 1**

*   Cari dataset dari url
*   Tentukan dissimilarity :
  *   Ukur Jarak d(1,2)
  *   Ukur Jarak d(1,3)
  *   Ukur Jarak d(1,4)

##Import Dataset dari Kaggle##

In [ ]:
! chmod 600 /content/drive/MyDrive/datamining/kaggle.json

In [ ]:
! KAGGLE_CONFIG_DIR=/content/drive/MyDrive/datamining/ kaggle datasets download -d surajjha101/top-youtube-channels-data

Downloading top-youtube-channels-data.zip to /content
  0% 0.00/27.9k [00:00<?, ?B/s]
100% 27.9k/27.9k [00:00<00:00, 19.0MB/s]

In [1]:
import math
import pandas as pd
data = pd.read_csv('https://raw.githubusercontent.com/andreandriand/datamining/main/most_subscribed_youtube_channels.csv')
data

,rank,Youtuber,subscribers,video views,video count,category,started
0,1,T-Series,"222,000,000","198,459,090,822","17,317",Music,2006
1,2,YouTube Movies,"154,000,000",0,0,Film & Animation,2015
2,3,Cocomelon - Nursery Rhymes,"140,000,000","135,481,339,848",786,Education,2006
3,4,SET India,"139,000,000","125,764,252,686","91,271",Shows,2006
4,5,Music,"116,000,000",0,0,NaN,2013
...,...,...,...,...,...,...,...
995,996,JP Plays,"10,900,000","4,609,300,218","3,528",Gaming,2014
996,997,TrapMusicHDTV,"10,900,000","4,070,521,973",690,Music,2013
997,998,Games EduUu,"10,900,000","3,093,784,767","1,006",Gaming,2011
998,999,Hueva,"10,900,000","3,040,301,750",831,Gaming,2012
999,1000,Dobre Brothers,"10,900,000","2,808,411,693",590,People & Blogs,2017

In [ ]:
data.head()

,rank,Youtuber,subscribers,video views,video count,category,started
0,1,T-Series,"222,000,000","198,459,090,822","17,317",Music,2006
1,2,YouTube Movies,"154,000,000",0,0,Film & Animation,2015
2,3,Cocomelon - Nursery Rhymes,"140,000,000","135,481,339,848",786,Education,2006
3,4,SET India,"139,000,000","125,764,252,686","91,271",Shows,2006
4,5,Music,"116,000,000",0,0,NaN,2013

##Menentukan Dissimilarity

In [ ]:
def diss(i,j):
  p = 2
  m = 0
  for col in ['category', 'started']:
    if data[col][i] == data[col][j]:
      m+=1
  return (p-m)/p

In [ ]:
print(diss(1,2))
print(diss(1,3))
print(diss(7,8))
print(diss(18,21))

1.0
1.0
0.5
0.0

##Numeric Attribute : Minkowski Distance

In [ ]:
def convert(s):
  return int("".join(s.split(",")))

def diss2(i,j,h):
  result = 0
  for col in ["subscribers", "video views", "video count"]:
    result = math.pow(abs(convert(data[col][i]) - convert(data[col][j])), h)
  return result**(1/h)

Manhattan Distance

In [ ]:
print(diss2(0,1,1))
print(diss2(0,2,1))
print(diss2(0,3,1))

17317.0
16531.0
73954.0

Euclidean Distance

In [ ]:
print(diss2(0,1,3))
print(diss2(0,2,3))
print(diss2(0,3,3))

17316.99999999999
16530.999999999993
73953.99999999996